header.header
    h1.header__title Модельный ряд GEELY
    nav.header__models-list
      a.models-list-item(href="#Atlas") Atlas
      a.models-list-item(href="#Coolray") Coolray
      a.models-list-item(href="#Emgrand") Emgrand
      a.models-list-item(href="#Tugella") Tugella
      a.models-list-item(href="#AtlasPro") Atlas Pro
      a.models-list-item(href="#Belgeex50") Belgee x50
      a.models-list-item(href="#Okavango") Okavango
      a.models-list-item(href="#Monjaro") Monjaro
      a.models-list-item(href="#TugellaSecond") Tugella
      a.models-list-item(href="#Coolray2023") Coolray 2023

           